    <%- include("templates/header") %>
<div class="px-4 py-5 my-5 text-center">
<h1>Forbidden - 403</h1>
<p>Sorry, the page you do not have access to this page.</p>
<p><a href="/" style="color: yellow;">Go back to the home page</a></p>
</div>
    <%- include("templates/footer") %>